body{
    display: block;
    font-family: "Arial";
    margin:0;
}
header a{
    color: #ffffff ;
    text-decoration:none;
}
header a:hover{
    color: #0653b6;
}
header{

    width: 100%;
    height: 100px;
    background-color: #8e8e8e;
}
.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.header-nav{
    float:left;
}
.header-ul1,.header-ul2{
    list-style:none;
    margin: 0;
    -moz-margin-start:0 ;
    line-height: 40px;
    -webkit-margin-before: 0;
    -webkit-margin-after:0 ;
    -webkit-margin-end:0 ;
    -webkit-padding-start:0 ;
}
.header-ul1{
    font-size: 14px;
    padding-top: 20px;
}
.header-ul2{
    font-size: 16px;
}
.header li{
    display:inline-block;
    margin:0 10px 0 0;
}
.header .start{
    color: #0653b6;
}
.header-img{
    float: right;
}
.header img{
    width: 103px;
    height: 114px;
}

/*第二屏*/
.header2{
    margin-top:2px;
    width: 100%;
    height: 50px;
    background-color: #8e8e8e;
}
.header2-select{
    width: 1200px;
    margin:0 auto;
}
.header2 select{
    height: 40px;
    width: 184px;
    background-color:#666;
}
option{
    display: inline-block;
    background-color:#8e8e8e ;
    padding: 10px;
}



.carousel{
    height: 500px;
    margin-bottom: 50px;
}
.carousel .item{
    height: 500px;
}
.carousel .item img{
    width: 100%;
}
.divider{
    margin: 40px 0;
}
